@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --primary-color: #4B5563;
    --main-color:#60A5FA;
    --off-white-color:#f3f4f6;
}
body{
    font-family: 'Montserrat', sans-serif; 
}

.navbar{
    background-color: var(--main-color);
    color: white;
    padding: 1rem 1rem ;
    border-bottom-left-radius: 1rem;
}
.nav-list{
    text-align: right;
}
.active-link{
    font-weight: bold;
}
li{
    display: inline-block;
}
.uday{
    padding: 0rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    padding: 0.5rem 1rem ;
    color: white;
}

.hero{
    max-width: 600px;
    margin: auto;
    padding: 1rem 0rem;
    text-align: center;
}
.hero-image{
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}
.container{
    max-width: 600px;
    margin: auto;
}
.tech{
    text-align: center;
    padding: 2rem;
   
}
.ow{
    background-color: var(--off-white-color);
}
.project{
    text-align: center;
    padding: 2rem;
}
.project-btn{
    border-radius: 1rem;
    background-color: var(--main-color);
}
.blog{
    text-align: center;
    padding: 2rem;
}
.blog-btn{
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    color: var(--main-color);
}
.footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 3rem;
    border-top-right-radius: 1rem;
}
.footer-header{
    color: white;
    padding-bottom: 1.3rem;
    font-weight: bold;
}

.projects-list{

}
.project-one{
    max-width: 600px;
    margin: auto;
    padding-bottom: 1rem;
    
}
.main-link{
    background-color: var(--main-color);
    border-radius: 1rem; 
}
.secondary-link{
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    color: var(--main-color);
}
.links{
    padding: 1rem 1rem 1rem 0rem;
}
